@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Knewave&family=Rubik+Dirt&family=Sigmar&display=swap&family=Funnel+Sans:ital@0;1&display=swap");
@import "tailwindcss";
@theme {
  --color-text: #e5e2ec;
  --color-background: #0b0810;
  --color-primary: #b196dc;
  --color-secondary: #481e8e;
  --color-accent: #7a37e8;
}
